        <!--<div id="footer" class="clearfix sidebar-page right-sidebar-page">
            <p class="pull-left">
                &copy; 2016 <a href="http://coural.co.nz" class="color-blue strong" target="_blank">Coural</a>
            </p>
            <p class="pull-right">
                <a href="#" class="mr5">Terms of use</a>
                |
                <a href="#" class="ml5 mr25">Privacy police</a>
            </p>
	    </div>-->

        <!-- Back to top -->
        <div id="back-to-top"><a href="#">Back to Top</a></div>
