{% load staticfiles %}
        <!-- Mobile specific metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1 user-scalable=no">
        <!-- Force IE9 to render in normal mode -->
        <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
        <meta name="author" content="" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="application-name" content="" />
        <!-- Import google fonts - Heading first/ text second -->
        <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700' rel='stylesheet' type='text/css'>
        <!-- Css files -->
        <!-- Icons -->
        <link href="{% static "assets/css/icons.min.css" %}" rel="stylesheet" />
        <!-- Bootstrap stylesheets (included template modifications) -->
        <!-- <link href={% static "assets/css/bootstrap-3.3.5.css" %}" rel="stylesheet" /> -->
        <!-- Fresh 3.3.6 Bootstrap LESS files download, compiled+minified -->
        <link href="{% static "assets/css/bootstrap.min.css" %}" rel="stylesheet" />
        <!-- Plugins stylesheets (all plugin custom css) -->
        <link href="{% static "assets/css/plugins.min.css" %}" rel="stylesheet" />
        <!-- Main stylesheets (template main css file) -->
        <link href="{% static "assets/css/main.min.css" %}" rel="stylesheet" />
        <!-- Custom stylesheets (empty) -->
        <!-- <link href={% static "assets/css/custom.css" rel="stylesheet" /> -->

        <!-- TS: Custom Coural stuff -->
        <link href="{% static "CO-assets/css/main.css" %}" rel="stylesheet" />

        <!-- TS: Custom Coural fav icons -->
        <link rel="apple-touch-icon" sizes="57x57" href="{% static "CO-assets/img/favicons/apple-touch-icon-57x57.png" %}">
        <link rel="apple-touch-icon" sizes="60x60" href="{% static "CO-assets/img/favicons/apple-touch-icon-60x60.png" %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static "CO-assets/img/favicons/apple-touch-icon-72x72.png" %}">
        <link rel="apple-touch-icon" sizes="76x76" href="{% static "CO-assets/img/favicons/apple-touch-icon-76x76.png" %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static "CO-assets/img/favicons/apple-touch-icon-114x114.png" %}">
        <link rel="apple-touch-icon" sizes="120x120" href="{% static "CO-assets/img/favicons/apple-touch-icon-120x120.png" %}">
        <link rel="apple-touch-icon" sizes="144x144" href="{% static "CO-assets/img/favicons/apple-touch-icon-144x144.png" %}">
        <link rel="apple-touch-icon" sizes="152x152" href="{% static "CO-assets/img/favicons/apple-touch-icon-152x152.png" %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static "CO-assets/img/favicons/apple-touch-icon-180x180.png" %}">
        <link rel="icon" type="image/png" href="{% static "CO-assets/img/favicons/favicon-32x32.png" %}" sizes="32x32">
        <link rel="icon" type="image/png" href="{% static "CO-assets/img/favicons/android-chrome-192x192.png" %}" sizes="192x192">
        <link rel="icon" type="image/png" href="{% static "CO-assets/img/favicons/favicon-96x96.png" %}" sizes="96x96">
        <link rel="icon" type="image/png" href="{% static "CO-assets/img/favicons/favicon-16x16.png" %}" sizes="16x16">
        <link rel="manifest" href="{% static "CO-assets/img/favicons/manifest.json" %}">
        <link rel="mask-icon" href="{% static "CO-assets/img/favicons/safari-pinned-tab.svg" %}" color="#5bbad5">
        <link rel="shortcut icon" href="{% static "CO-assets/img/favicons/favicon.ico" %}">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-TileImage" content="{% static "CO-assets/img/favicons/mstile-144x144.png" %}">
        <meta name="msapplication-config" content="{% static "CO-assets/img/favicons/browserconfig.xml" %}">
        <meta name="theme-color" content="#ffffff">
