            <aside id="right-sidebar" class="right-sidebar sidebar-fixed hidden-md hidden-sm hidden-xs">
                <!-- Start .sidebar-inner -->
                <div class="sidebar-inner">
                    <!-- Start .sidebar-scrollarea -->
                    <div class="sidebar-scrollarea">
                        <div class="tabs">
                            <!-- Start .rs tabs -->
                            <ul id="rstab" class="nav nav-tabs nav-justified">
                                <li class="active">
                                    <a href="#userhelp" data-toggle="tab"><i class="fa fa-question-circle"></i> </a>
                                </li>
                                <li>
                                    <a href="#notifications" data-toggle="tab"><i class="fa fa-bullhorn"></i> </a>
                                </li>
                            </ul>
                            <div id="rstab-content" class="tab-content">
                                <div class="tab-pane fade active in" id="userhelp">
                                    <div class="chat-user-list">
                                        <form class="form-vertical chat-search" role="form">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input type="text" class="form-control input-sm" placeholder="Search ...">
                                                    <span class="input-group-btn">                                        
                                                        <button class="btn btn-default btn-sm" type="submit"><i class="fa fa-search"></i></button>
                                                    </span>
                                                </div>
                                            </div>
                                            <!-- End .form-group  -->
                                        </form>
                                        <ul class="user-list list-group">
                                            <li class="list-group-item clearfix">
                                                <a href="#" class="legend">
                                                    <span class="status status-online">Updated this week</span>
                                                    <!-- <span class="status status-offline">Updated this month</span>
                                                    <span class="status status-older">Older than one month</span> -->
                                                </a>
                                            </li>
                                            <li class="list-group-item clearfix">
                                                <a href="#">
                                                    <span class="name">Help item</span>
                                                    <span class="status status-older">Lorem ipsum dolor sit amet...</span>
                                                </a>
                                            </li>
                                            <li class="list-group-item clearfix">
                                                <a href="#">
                                                    <span class="name">Help item</span>
                                                    <span class="status status-online">Lorem ipsum dolor sit amet...</span>
                                                </a>
                                            </li>
                                            <li class="list-group-item clearfix">
                                                <a href="#">
                                                    <span class="name">Help item</span>
                                                    <span class="status status-online">Lorem ipsum dolor sit amet...</span>
                                                </a>
                                            </li>
                                            <li class="list-group-item clearfix">
                                                <a href="#">
                                                    <span class="name">Help item</span>
                                                    <span class="status status-older">Lorem ipsum dolor sit amet...</span>
                                                </a>
                                            </li>
                                            <li class="list-group-item clearfix">
                                                <a href="#">
                                                    <span class="name">Help item</span>
                                                    <span class="status status-older">Lorem ipsum dolor sit amet...</span>
                                                </a>
                                            </li>
                                            <li class="list-group-item clearfix">
                                                <a href="#">
                                                    <span class="name">Help item</span>
                                                    <span class="status status-older">Lorem ipsum dolor sit amet...</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="notifications">
                                    <ul class="timeline timeline-icons timeline-sm">
                                        <li>
                                            <p>
                                                <strong>May 2016</strong>: 118 jobs - <a href="#">28 jobs still open</a>, <a href="#">43 not yet invoiced</a>
                                                <span class="timeline-icon"><i class="fa fa-comment"></i></span>
                                                <span class="timeline-date">May 21</span>
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <strong>May 2016</strong>: 90 jobs - <a href="#">20 jobs still open</a>, <a href="#">40 not yet invoiced</a>
                                                <span class="timeline-icon"><i class="fa fa-comment"></i></span>
                                                <span class="timeline-date">May 20</span>
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <a href="#">Howard</a> attached a new <a href="#">file</a>
                                                <span class="timeline-icon"><i class="fa fa-file-text-o"></i></span>
                                                <span class="timeline-date">May 19, 22:00</span>
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <a href="#">Three new jobs</a> added
                                                <span class="timeline-icon"><i class="fa fa-comment"></i></span>
                                                <span class="timeline-date">May 18</span>
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <a href="#">New jobs report</a>
                                                <span class="timeline-icon"><i class="fa fa-bar-chart-o"></i></span>
                                                <span class="timeline-date">May 11, 10:17</span>
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <strong>May 2016</strong>: 65 jobs - <a href="#">61 jobs still open</a>, <a href="#">18 not yet invoiced</a>
                                                <span class="timeline-icon"><i class="fa fa-comment"></i></span>
                                                <span class="timeline-date">May 11</span>
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End .rs tabs -->
                    </div>
                    <!-- End .sidebar-scrollarea -->
                </div>
                <!-- End .sidebar-inner -->
            </aside>