            <aside id="sidebar" class="page-sidebar sidebar-fixed hidden-md hidden-sm hidden-xs">
                <!-- Start .sidebar-inner -->
                <div class="sidebar-inner">
                    <!-- Start .sidebar-scrollarea -->
                    <div class="sidebar-scrollarea">
                        <!--  .sidebar-panel -->
                        <!-- <div class="sidebar-panel">
                            <h5 class="sidebar-panel-title">Navigation</h5>
                        </div> -->
                        <!-- / .sidebar-panel -->
                        <!-- .side-nav -->
                        <div class="side-nav">
                            <ul class="nav">
                                <li><a href="/"><i class="l-basic-home"></i><span class="txt">Home</span></a></li>
                                <li>
                                    <a href="#"><i class="l-basic-geolocalize-01"></i><span class="txt">Parcels</span></a>
                                    <ul class="sub">
                                        <li><a href="#"><span class="txt">Ticket Invoices</span></a></li>
                                        <li><a href="CO-ticket-invoicing.php"><span class="txt">Ticket Invoicing</span></a></li>
                                        <li><a href="#"><span class="txt">POD</span></a></li>
                                        <li><a href="#"><span class="txt">Parcel Collection</span></a></li>
                                        <li><a href="#"><span class="txt">Redeem Mobile</span></a></li>
                                        <li><a href="#"><span class="txt">Redeem Canon</span></a></li>
                                        <li><a href="#"><span class="txt">Redeem Manual</span></a></li>
                                        <li><a href="#"><span class="txt">Ticket Redemption Review</span></a></li>
                                        <li><a href="#"><span class="txt">Receive Tickets</span></a></li>
                                        <li><a href="#"><span class="txt">Search Tickets</span></a></li>
                                        <li><a href="#"><span class="txt">Search Mobile Tickets</span></a></li>
                                        <li><a href="#"><span class="txt">Manage Parcel Rates</span></a></li>
                                        <li><a href="#"><span class="txt">Update Redemption Rates</span></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#"><i class="l-basic-paperplane"></i><span class="txt">LBM</span><!-- <span class="label">2</span> --></a>
                                    <ul class="sub">
                                        <li><a href="/lbm/jobsCurrent"><span class="txt">LBM Jobs Current</span></a></li>
                                        <li><a href="/lbm/jobBooking"><span class="txt">LBM Job Booking</span></a></li>
                                        <li><a href="#"><span class="txt">LBM Jobs Closed</span></a></li>
                                        <li><a href="#"><span class="txt">Update Affiliations</span></a></li>
                                        <li><a href="/invoice"><span class="txt">Invoicing</span></a></li>
                                        <li><a href="#"><span class="txt">Close Jobs</span></a></li></li>
                                        <li><a href="#"><span class="txt">Messages</span></a></li>
                                        <li><a href="#"><span class="txt">Archive Jobs</span></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#"><i class="l-basic-share"></i><span class="txt">Logistics</span></a>
                                    <ul class="sub">
                                        <li><a href="CO-depot-jobs.php"><span class="txt">Depot Jobs</span></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#"><i class="l-software-horizontal-align-left"></i><span class="txt">Reports</span></a>
                                    <ul class="sub">
                                        <li>
                                            <a href="#"><span class="txt">Parcels</span></a>
                                            <ul class="sub">
                                                <li><a href="CO-ticket-redempt-inv.php"><span class="txt">Ticket Redemption/Invoice</span></a></li>
                                                <li><a href="#"><span class="txt">Ticket Redemption Details</span></a></li>
                                                <li><a href="#"><span class="txt">Double Redemptions</span></a></li>
                                                <li><a href="#"><span class="txt">Print Ticket Header</span></a></li>
                                                <li><a href="#"><span class="txt">Unredeemed Tickets Value</span></a></li>
                                                <li><a href="#"><span class="txt">Tickets Stock</span></a></li>
                                                <li><a href="#"><span class="txt">Ticket Audit (csv)</span></a></li>
                                                <li><a href="#"><span class="txt">Sold Tickets</span></a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#"><span class="txt">LBM</span></a>
                                            <ul class="sub">
                                                <li><a href="/reports/lbm/sumdeliveryins"><span class="txt">Delivery Instructions - By Date Range</span></a></li>
                                                <li><a href="#"><span class="txt">Delivery Instructions - By Job</span></a></li>
                                                <li><a href="#"><span class="txt">LBM Job Labels</span></a></li>
                                                <li><a href="#"><span class="txt">LBM Numbers - Total</span></a></li>
                                                <li><a href="#"><span class="txt">LBM Numbers - By Dist</span></a></li>
                                                <li><a href="#"><span class="txt">Regular jobs</span></a></li>
                                                <li><a href="/reports/lbm/jobDetails"><span class="txt">LBM Job Details</span></a></li>
                                                <li><a href="#"><span class="txt">Rate Discrepancy</span></a></li>
                                                <li><a href="#"><span class="txt">LBM Payout - Distributor</span></a></li>
                                                <li><a href="#"><span class="txt">LBM Payout - Breakdown</span></a></li>
                                                <li><a href="#"><span class="txt">Messages Sent</span></a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#"><span class="txt">Logistics</span></a>
                                            <ul class="sub">
                                                <li><a href="#"><span class="txt">Summary Linehauler</span></a></li>
                                                <li><a href="#"><span class="txt">Manifest</span></a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#"><span class="txt">General</span></a>
                                            <ul class="sub">
                                                <li><a href="CO-lbm-tickets-bcti.php"><span class="txt">LBM &amp; Tickets BCTI</span></a></li>
                                                <li><a href="#"><span class="txt">Addresses Download (csv)</span></a></li>
                                                <li><a href="#"><span class="txt">Route Download (csv)</span></a></li>
                                                <li><a href="#"><span class="txt">Contractor Address Labels</span></a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#"><span class="txt">Archived</span></a>
                                            <ul class="sub">
                                                <li><a href="/reports/archived/pmpupdated"><span class="txt">PMP Updated</span></a></li>
                                                <li><a href="/reports/archived/Distpmpupdatedby"><span class="txt">PMP Updated by Dist</span></a></li>
                                                <li><a href="/reports/archived/addressDetails"><span class="txt">Address Details</span></a></li>
                                                <li><a href="/reports/archived/distBible"><span class="txt">Distributors Bible</span></a></li>
                                                <li><a href="/reports/archived/regionBible"><span class="txt">Region Bible</span></a></li>
                                                <li><a href="#"><span class="txt">LBM Payout</span></a></li>
                                                <li><a href="#"><span class="txt">LBM Payout Payee Breakdown</span></a></li>
                                                <li><a href="#"><span class="txt">LBM Payout by Level</span></a></li>
                                                <li><a href="#"><span class="txt">Ticket Notes</span></a></li>
                                                <li><a href="#"><span class="txt">Ticket Sales</span></a></li>
                                                <li><a href="#"><span class="txt">Unredeemed Tickets Quantity</span></a></li>
                                                <li><a href="#"><span class="txt">Tickets Sold</span></a></li>
                                                <li><a href="#"><span class="txt">Tickets Received</span></a></li>
                                                <li><a href="#"><span class="txt">Tickets Sold Details</span></a></li>
                                                <li><a href="#"><span class="txt">Redeemed Tickets by Date Range</span></a></li>
                                                <li><a href="#"><span class="txt">Redeemed Tickets by Year</span></a></li>
                                                <li><a href="#"><span class="txt">Route Affiliation Errors</span></a></li>
                                                <li><a href="#"><span class="txt">Received Tickets</span></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#"><i class="l-basic-gear"></i><span class="txt">Master Files</span></a>
                                    <ul class="sub">
                                        <li><a href="/master_files/address/"><span class="txt">Contacts</span></a></li>
                                        <li><a href="/master_files/region/"><span class="txt">Regions</span></a></li>
                                        <li><a href="/master_files/area/"><span class="txt">Areas</span></a></li>
                                        <li><a href="/master_files/route/"><span class="txt">Routes</span></a></li>
                                        <li><a href="#"><span class="txt">Sync Webpage</span></a></li>
                                        <li><a href="#"><span class="txt">Mobile Data Upload</span></a></li>
                                        <li><a href="/master_files/config/"><span class="txt">Config</span></a></li>
                                        <li><a href="/master_files/user/"><span class="txt">Users Maintenance</span></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!-- / side-nav -->
                    </div>
                    <!-- End .sidebar-scrollarea -->
                </div>
                <!-- End .sidebar-inner -->
            </aside>
