{% load staticfiles %}
     <div id="header" class="page-navbar">
            <!-- .navbar-brand -->
            <a href="CO-lbm-jobs.php" class="navbar-brand hidden-xs hidden-sm">
                <img src="{% static "CO-assets/img/logo.png" %}" class="logo hidden-xs" alt="Coural logo">
                <img src="{% static "CO-assets/img/logo-sm.png" %} " class="logo-sm hidden-lg hidden-md" alt="Coural logo">
            </a>
            <!-- / navbar-brand -->
            <!-- .no-collapse -->
            <div id="navbar-no-collapse" class="navbar-no-collapse">
                <!-- top left nav -->
                <ul class="nav navbar-nav">
                    <li class="toggle-sidebar">
                        <a href="#">
                            <div class="menu-toggle"><span></span><span></span><span></span></div>
                            <span class="sr-only">Collapse navigation</span>
                        </a>
                    </li>
                    <li class="site-title">
                        <p>Job management system</p>
                    </li>
                </ul>
                <!-- / top left nav -->
                <!-- top right nav -->
                <ul class="nav navbar-nav navbar-right">
                    <!-- <li class="dropdown">
                        <a href="#" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="sr-only">Notifications</span>
                            <span class="badge badge-danger">6</span>
                        </a>
                        <ul class="dropdown-menu right dropdown-notification" role="menu">
                            <li><a href="#" class="dropdown-menu-header">Notifications</a>
                            </li>
                            <li><a href="#"><i class="l-basic-life-buoy"></i> 2 support request</a>
                            </li>
                            <li><a href="#"><i class="l-basic-gear"></i> Settings is changed</a>
                            </li>
                            <li><a href="#"><i class="l-weather-lightning"></i> 5 min server downtime</a>
                            </li>
                            <li><a href="#"><i class="l-basic-server2"></i> Databse backup is complete</a>
                            </li>
                            <li><a href="#" class="view-all">View all <i class="l-arrows-right"></i> </a>
                            </li>
                        </ul>
                    </li> -->
                    <li>
                        <a id="toggle-right-sidebar" href="#" class="tipB" title="Toggle help">
                            <i class="fa fa-question-circle"></i>
                            <span class="sr-only">Toggle help</span>
                        </a>
                    </li>
                    <li>
                        <a id="toggle-right-sidebar-notifications" href="#" class="tipB" title="Toggle notifications">
                            <i class="fa fa-bullhorn"></i>
                            <span class="sr-only">Toggle notifications</span>
                        </a>
                    </li>
                    <li class="log-out">
                        <a href="CO-login.php" class="tipB" title="Log out">
                            <i class="fa fa-sign-out"></i>
                            <span class="sr-only">Log out</span>
                        </a>
                    </li>
                </ul>
                <!-- / top right nav -->
            </div>
            <!-- / collapse -->
        </div>
