{% extends "page_base.html" %}

{% block data %}
{% load bootstrap3 %}

<h2>{{view.page_name}}</h2>

{% if view.btn == 'Delete' %}

<form action="" method="post">{% csrf_token %}
       <p>Are you sure you want to delete "{{ object }}"?</p>
	{% buttons %}
        <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "star" %} {{view.btn}}
        </button>
        {% endbuttons %}		
</form>

{% else %}

<form action="" method="post">{% csrf_token %}
	{% bootstrap_form form %}

	{% buttons %}
	<button type="submit" class="btn btn-primary">
		{% bootstrap_icon "star" %} {{view.btn}}
	</button>
	{% endbuttons %}
</form>


{% endif %}

{% endblock %}
