{% extends "page_base.html" %}

{% block info %}
<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
  <div class="page-header">
    <h1>LBM Job Booking</h1>
    <p class="intro">
	{{ message }}
    </p>
  </div>
</div>
{% endblock %}


{% block data %}

{% load bootstrap3 %}

<!-- LBM job booking form -->
<div class="row">
    
    <div class="col-lg-12 col-md-12">
        <!-- col-lg-12 start here -->
        <div class="panel panel-default toggle panelMove panelClose panelRefresh">
            <!-- Start .panel -->
            <div class="panel-heading">
                <h4 class="panel-title">Job details</h4>
            </div>
            <div class="panel-body pt0 pb0">
                <div id="wizard1" class="bwizard">
                    <!-- Start .bwizard -->

                    <form class="form-horizontal group-border stripped" role="form">
		        <div class="form-group">
			    <label class="col-lg-1 col-md-3 col-sm-3 col-xs-6 control-label">Charge to</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <select class="form-control select2">
                                    <option value="60">AC Pet Foods</option>
                                    <option value="618">Ace City Couriers</option>
                                    <option value="241">Adplus</option>
                                </select>
                            </div>
			    <label class="col-lg-1 col-md-3 col-sm-3 col-xs-6 control-label">Publication</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <input class="form-control" name="firstname" type="text">
                            </div>
			    <label class="col-lg-1 col-md-3 col-sm-3 col-xs-6 control-label" for="">Delivery date</label>
                            <div class="col-lg-1 col-md-3 col-sm-3 col-xs-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input id="basic-datepicker-2" type="text" class="form-control basic-datepicker">
                                </div>  
                            </div>
			    <label class="col-lg-1 col-md-9 col-sm-9 col-xs-6 control-label">Or IOA</label>
                            <div class="col-lg-1 col-md-3 col-sm-3 col-xs-6">
                                <input class="form-control" name="ioa" type="checkbox" value="Y">
                            </div>
			</div>
                        <div class="form-group">
                            <label class="col-lg-1 col-md-3 col-sm-3 col-xs-6 control-label">Purchase #</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
				{{ form.purchase_no }}
                            </div>
			    <label class="col-lg-1 col-md-3 col-sm-3 col-xs-6 control-label">PMP job #</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                {{ form.pmp_job_no }}
                            </div>
			    <label class="col-lg-1 col-md-3 col-sm-3 col-xs-6 control-label">Job #</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <input class="form-control" name="firstname" type="text">
                            </div>
                        </div>
			<div class="form-group">
    			    <label class="col-lg-1 col-md-3 col-sm-3 col-xs-6 control-label">Destination type</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <select class="form-control select2">
                                    <option value="0" selected="">Please Select</option>
                                    <option value="num_total">Total</option>
                                    <option value="num_farmers">Farmers</option>
                                    <option value="num_lifestyle">Lifestyle</option>
                                    <option value="num_dairies">Dairy</option>
                                    <option value="num_sheep">Sheep</option>
                                    <option value="num_beef">Beef</option>
                                    <option value="num_sheepbeef">Sheep/Beef</option>
                                    <option value="num_dairybeef">Dairy/Beef</option>
                                    <option value="num_hort">Hort</option>
                                    <option value="rmt">Total #</option>
                                </select>
                            </div>
			    <label class="col-lg-1 col-md-3 col-sm-3 col-xs-6 control-label">Weight</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <div class="input-group">
                                    <input class="form-control" name="weight" type="text">
                                    <span class="input-group-addon">grams</span>
                                </div>
                            </div> 
			    <label class="col-lg-1 col-md-3 col-sm-3 col-xs-6 control-label">Quantity (normal)</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <input class="form-control" name="lastname" type="text">
                            </div>	
			</div>
			<div class="form-group">
				<h2>Customer charges</h2>
			</div>
			<div class="form-group">
			    <label class="col-lg-1 col-md-3 col-sm-3 col-xs-6 control-label">NI linehaul</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <select class="form-control select2">
                                    <option value="215">Client</option>
                                    <option value="206">Coural Logistics Auckland</option>
                                    <option value="162">Coural Logistics Christchurch</option>
                                    <option value="208">Coural Office</option>
                                    <option value="126">DairyNZ</option>
                                </select>
                            </div>
			    <label class="col-lg-1 col-md-6 col-sm-6 col-xs-6 control-label" for="">Lodgement date</label>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input id="basic-datepicker" type="text" class="form-control basic-datepicker">
                                </div>
                            </div>
			    <label class="col-lg-1 col-md-3 col-sm-3 col-xs-6 control-label">NI drop total</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <input class="form-control" name="lastname" type="text">
                            </div> 
			</div>
			<div class="form-group">
			    <label class="col-lg-1 col-md-3 col-sm-3 col-xs-6 control-label">SI linehaul</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <select class="form-control select2">
                                    <option value="215">Client</option>
                                    <option value="206">Coural Logistics Auckland</option>
                                    <option value="162">Coural Logistics Christchurch</option>
                                    <option value="208">Coural Office</option>
                                    <option value="126">DairyNZ</option>
                                </select>
                            </div>
			    <label class="col-lg-1 col-md-9 col-sm-9 col-xs-6 control-label">Total check</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <input class="form-control" name="lastname" type="text">
                            </div>
			    <label class="col-lg-1 col-md-3 col-sm-3 col-xs-6 control-label">SI drop total</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <input class="form-control" name="lastname" type="text">
                            </div> 
			</div>
			<div class="form-group">
			    <label class="col-lg-1 col-md-3 col-sm-3 col-xs-6 control-label">Includes linehaul</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <input class="form-control" checked name="regular" type="checkbox" value="Y">
                            </div>
			    <label class="col-lg-1 col-md-3 col-sm-3 col-xs-3 control-label">Regular (Yes)</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                {{ form.is_regular }}
                            </div>
			    <label class="col-lg-1 col-md-3 col-sm-3 col-xs-6 control-label">Print advices</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <input class="form-control" checked name="quote" type="checkbox" value="Y">
                            </div> 
			</div>
			<div class="form-group">
			    <label class="col-lg-1 col-md-2 col-sm-2 col-xs-12 control-label" for="">Contact Notes</label>
			    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <input class="form-control" name="lastname" type="text">
                            </div>

			     <div class="col-lg-3 col-md-offset-3 col-sm-offset-3 col-lg-10 col-md-9 col-sm-9 col-xs-9">
                                <a href="#" target="_blank">&raquo; Price templates</a>
                            </div>
                        </div>

			<div class="form-group">
			    <label class="col-lg-1 col-md-3 col-sm-3 col-xs-6 control-label">Rate (normal)</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <input class="form-control" name="firstname" type="text">
                            </div>
			     <label class="col-lg-1 col-md-3 col-sm-3 col-xs-6 control-label">Invoice value</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <div class="input-group">
                                    <input class="form-control" name="inv-value" type="text">
                                    <span class="input-group-addon">$</span>
                                </div>
                            </div>
			    <label class="col-lg-1 col-md-9 col-sm-9 col-xs-6 control-label">Margin</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <div class="input-group">
                                    <input class="form-control" name="margin" type="text">
                                    <span class="input-group-addon">%</span>
                                </div>
                            </div>

			</div>
			<div class="form-group">
			    <label class="col-lg-1 col-md-3 col-sm-3 col-xs-6 control-label">Rate (premium)</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <input class="form-control" name="firstname" type="text">
                            </div>
			    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-6">
			    </div>
			    <label class="col-lg-1 col-md-3 col-sm-3 col-xs-6 control-label">Bundle sell</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <input class="form-control" placeholder="0.0000" name="firstname" type="text">
                            </div>
			</div>
			<div class="form-group">
			    <label class="col-lg-1 col-md-3 col-sm-3 col-xs-6 control-label">Rate (extra/1000)</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <input class="form-control" name="firstname" type="text">
                            </div>
			    <label class="col-lg-1 col-md-3 col-sm-3 col-xs-6 control-label">Qty (extra/1000)</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <input class="form-control" placeholder="0.0000" name="firstname" type="text">
                            </div>
			    <label class="col-lg-1 col-md-3 col-sm-3 col-xs-6 control-label">Extra descr.</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <input class="form-control" placeholder="0.0000" name="firstname" type="text">
                            </div>
			</div>
			<div class="form-group">
				<h2>Network rates</h2>
			</div>

			<div class="form-group">
			    <label class="col-lg-1 col-md-3 col-sm-3 col-xs-6 control-label">Distributors</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <div class="input-group">
                                    <input class="form-control" placeholder="0.0000" name="firstname" type="text">
                                    <span class="input-group-addon">$</span>
                                </div>
                            </div>
                            <label class="col-lg-1 col-md-3 col-sm-3 col-xs-6 control-label">Sub-distributors</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <div class="input-group">
                                    <input class="form-control" placeholder="0.0000" name="firstname" type="text">
                                    <span class="input-group-addon">$</span>
                                </div>
                            </div>
                            <label class="col-lg-1 col-md-3 col-sm-3 col-xs-6 control-label">Contractors</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <div class="input-group">
                                    <input class="form-control" placeholder="0.0000" name="firstname" type="text">
                                    <span class="input-group-addon">$</span>
                                </div>
                            </div>
			</div>
                        <div class="form-group">
			    <label class="col-lg-1 col-md-3 col-sm-3 col-xs-6 control-label">Folding Fee</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <div class="input-group">
                                    <input class="form-control" placeholder="0.0000" name="firstname" type="text">
                                    <span class="input-group-addon">$</span>
                                </div>
                            </div>
                            <label class="col-lg-1 col-md-9 col-sm-9 col-xs-6 control-label">Add to invoice</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <input class="form-control" name="quote" type="checkbox" value="Y">
                            </div>
                            <label class="col-lg-1 col-md-3 col-sm-3 col-xs-6 control-label">Premium</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <div class="input-group">
                                    <input class="form-control" placeholder="0.0000" name="firstname" type="text">
                                    <span class="input-group-addon">$</span>
                                </div>
                            </div>
			</div>
			 <div class="form-group">
                            <label class="col-lg-1 col-md-3 col-sm-3 col-xs-6 control-label">Invoice #</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <input class="form-control" name="lastname" type="text">
                            </div>
                            <label class="col-lg-1 col-md-3 col-sm-3 col-xs-6 control-label">Customer Link</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <input class="form-control" name="lastname" type="text">
                            </div>
			    <label class="col-lg-1 col-md-3 col-sm-3 col-xs-6 control-label">Paper Source</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <input class="form-control" name="lastname" type="text">
                            </div>
			</div>
                        <div class="form-group">
                            <label class="col-lg-1 col-md-2 col-sm-2 col-xs-12 control-label" for="">Comments</label>
                            <div class="col-lg-8 col-md-6 col-sm-6 col-xs-8">
                                <textarea class="form-control icon-textarea" rows="3"></textarea>
                                <i class="fa fa-comments textarea-icon s16"></i>
                            </div>
                            <label class="col-lg-1 col-md-2 col-sm-2 col-xs-2 control-label">Show</label>
                            <div class="col-lg-1 col-md-2 col-sm-2 col-xs-2">
                                <input class="form-control" name="quote" type="checkbox" value="Y">
                            </div>
                        </div>
                    	<ul class="pager">
                        	<li class="next finish" ><a href="#">Send</a>
                        	</li>
                    	</ul>
		    </form>
                </div>
                <!-- End .bwizard -->
            </div>
        </div>
        <!-- End .panel -->
    </div>
    <!-- col-lg-12 end here -->
</div>
<!-- END ROW -->
<!-- END LBM job booking form -->
{% endblock %}


