{% extends "page_base.html" %}

{% block info %}
<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
  <div class="page-header">
    <h1>LBM Job Booking</h1>
    <p class="intro">
	{{ message }}
    </p>
  </div>
</div>
{% endblock %}


{% block data %}

{% load bootstrap3 %}

<!-- LBM job booking form -->
<div class="row">
    
    <div class="col-lg-12 col-md-12">
        <!-- col-lg-12 start here -->
        <div class="panel panel-default toggle panelMove panelClose panelRefresh">
            <!-- Start .panel -->
            <div class="panel-heading">
                <h4 class="panel-title">Job details</h4>
            </div>
            <div class="panel-body pt0 pb0">
                <div id="wizard1" class="bwizard">
                    <!-- Start .bwizard -->

                    <form class="form-horizontal group-border stripped" role="form">
		        <div class="form-group">
			    <label class="col-lg-1 col-md-3 col-sm-3 col-xs-6 control-label">Charge to</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
				{{ form.client  }}
                            </div>
			    <label class="col-lg-1 col-md-3 col-sm-3 col-xs-6 control-label">Publication</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            	{{ form.publication }}
			    </div>
			    <label class="col-lg-1 col-md-3 col-sm-3 col-xs-6 control-label" for="">Delivery date</label>
                            <div class="col-lg-1 col-md-3 col-sm-3 col-xs-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
				    {{ form.delivery_date }} 
                                </div>  
                            </div>
			    <label class="col-lg-1 col-md-9 col-sm-9 col-xs-6 control-label">Or IOA</label>
                            <div class="col-lg-1 col-md-3 col-sm-3 col-xs-6">
				{{ form.is_ioa }} 
                            </div>
			</div>
                        <div class="form-group">
                            <label class="col-lg-1 col-md-3 col-sm-3 col-xs-6 control-label">Purchase #</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
				{{ form.purchase_no }}
                            </div>
			    <label class="col-lg-1 col-md-3 col-sm-3 col-xs-6 control-label">PMP job #</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                {{ form.pmp_job_no }}
                            </div>
			    <label class="col-lg-1 col-md-3 col-sm-3 col-xs-6 control-label">Job #</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
				{{ form.job_no }} 
                            </div>
                        </div>
			<div class="form-group">
    			    <label class="col-lg-1 col-md-3 col-sm-3 col-xs-6 control-label">Destination type</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
				{{ form.dest_type }} 
                            </div>
			    <label class="col-lg-1 col-md-3 col-sm-3 col-xs-6 control-label">Weight</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <div class="input-group">
				    {{ form.weight }} 
                                    <span class="input-group-addon">grams</span>
                                </div>
                            </div> 
			    <label class="col-lg-1 col-md-3 col-sm-3 col-xs-6 control-label">Quantity (normal)</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <input class="form-control" name="lastname" type="text">
                            </div>	
			</div>
			<div class="form-group">
				<h4>Customer charges</h4>
			</div>
			<div class="form-group">
			    <label class="col-lg-1 col-md-3 col-sm-3 col-xs-6 control-label">NI linehaul</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
				{{ form.hauler_ni }}
                            </div>
			    <label class="col-lg-1 col-md-6 col-sm-6 col-xs-6 control-label" for="">Lodgement date</label>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
				    {{ form.lodge_date }} 
                                </div>
                            </div>
			    <label class="col-lg-1 col-md-3 col-sm-3 col-xs-6 control-label">NI drop total</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
				{{ form.ni_drop_total }} 
                            </div> 
			</div>
			<div class="form-group">
			    <label class="col-lg-1 col-md-3 col-sm-3 col-xs-6 control-label">SI linehaul</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
				{{ form.hauler_si }}
                            </div>
			    <label class="col-lg-1 col-md-9 col-sm-9 col-xs-6 control-label"></label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
				{{ form.total_check }} 
                            </div>
			    <label class="col-lg-1 col-md-3 col-sm-3 col-xs-6 control-label">SI drop total</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
				{{ form.si_drop_total }} 
                            </div> 
			</div>
			<div class="form-group">
			    <label class="col-lg-1 col-md-3 col-sm-3 col-xs-6 control-label">Includes linehaul</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
				{{ form.inc_linehaul }} 
                            </div>
			    <label class="col-lg-1 col-md-3 col-sm-3 col-xs-3 control-label">Regular (Yes)</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                {{ form.is_regular }}
                            </div>
			    <label class="col-lg-1 col-md-3 col-sm-3 col-xs-6 control-label">Print advices</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
				{{ form.print_advices }} 
                            </div> 
			</div>
			<div class="form-group">
			    <label class="col-lg-1 col-md-2 col-sm-2 col-xs-12 control-label" for="">Contact Notes</label>
			    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
				{{ form.contact_notes }}
                            </div>

			     <div class="col-lg-3 col-md-offset-3 col-sm-offset-3 col-lg-10 col-md-9 col-sm-9 col-xs-9">
                                <a href="#" target="_blank">&raquo; Price templates</a>
                            </div>
                        </div>

			<div class="form-group">
			    <label class="col-lg-1 col-md-3 col-sm-3 col-xs-6 control-label">Rate (normal)</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
				{{ form.rate }} 
                            </div>
			     <label class="col-lg-1 col-md-3 col-sm-3 col-xs-6 control-label">Invoice value</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <div class="input-group">
                                    <input class="form-control" name="inv-value" type="text">
                                    <span class="input-group-addon">$</span>
                                </div>
                            </div>
			    <label class="col-lg-1 col-md-9 col-sm-9 col-xs-6 control-label">Margin</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <div class="input-group">
                                    <input class="form-control" name="margin" type="text">
                                    <span class="input-group-addon">%</span>
                                </div>
                            </div>

			</div>
			<div class="form-group">
			    <label class="col-lg-1 col-md-3 col-sm-3 col-xs-6 control-label">Rate (premium)</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
				{{ form.premium }}
                            </div>
			    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-6">
			    </div>
			    <label class="col-lg-1 col-md-3 col-sm-3 col-xs-6 control-label">Bundle sell</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
				{{ form.bundle_sell }} 
                            </div>
			</div>
			<div class="form-group">
			    <label class="col-lg-1 col-md-3 col-sm-3 col-xs-6 control-label">Rate (extra/1000)</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <input class="form-control" name="firstname" type="text">
                            </div>
			    <label class="col-lg-1 col-md-3 col-sm-3 col-xs-6 control-label">Qty (extra/1000)</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <input class="form-control" placeholder="0.0000" name="firstname" type="text">
                            </div>
			    <label class="col-lg-1 col-md-3 col-sm-3 col-xs-6 control-label">Extra descr.</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <input class="form-control" placeholder="0.0000" name="firstname" type="text">
                            </div>
			</div>
			<div class="form-group">
				<h4>Network rates</h4>
			</div>

			<div class="form-group">
			    <label class="col-lg-1 col-md-3 col-sm-3 col-xs-6 control-label">Distributors</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <div class="input-group">
				    {{ form.dist_rate }} 
                                    <span class="input-group-addon">$</span>
                                </div>
                            </div>
                            <label class="col-lg-1 col-md-3 col-sm-3 col-xs-6 control-label">Sub-distributors</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <div class="input-group">
				    {{ form.subdist_rate }} 
                                    <span class="input-group-addon">$</span>
                                </div>
                            </div>
                            <label class="col-lg-1 col-md-3 col-sm-3 col-xs-6 control-label">Contractors</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <div class="input-group">
				    {{ form.contr_rate }} 
                                    <span class="input-group-addon">$</span>
                                </div>
                            </div>
			</div>
                        <div class="form-group">
			    <label class="col-lg-1 col-md-3 col-sm-3 col-xs-6 control-label">Folding Fee</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <div class="input-group">
				    {{ form.folding_fee }} 
                                    <span class="input-group-addon">$</span>
                                </div>
                            </div>
                            <label class="col-lg-1 col-md-9 col-sm-9 col-xs-6 control-label">Add to invoice</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
				{{ form.add_folding_to_invoice }}
                            </div>
                            <label class="col-lg-1 col-md-3 col-sm-3 col-xs-6 control-label">Premium</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <div class="input-group">
                                    <input class="form-control" placeholder="0.0000" name="firstname" type="text">
                                    <span class="input-group-addon">$</span>
                                </div>
                            </div>
			</div>
			 <div class="form-group">
                            <label class="col-lg-1 col-md-3 col-sm-3 col-xs-6 control-label">Invoice #</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
				{{ form.invoice_no }} 
                            </div>
                            <label class="col-lg-1 col-md-3 col-sm-3 col-xs-6 control-label">Customer Link</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <input class="form-control" name="lastname" type="text">
                            </div>
			    <label class="col-lg-1 col-md-3 col-sm-3 col-xs-6 control-label">Paper Source</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
				{{ form.paper_source }} 
                            </div>
			</div>
                        <div class="form-group">
                            <label class="col-lg-1 col-md-2 col-sm-2 col-xs-12 control-label" for="">Comments</label>
                            <div class="col-lg-8 col-md-6 col-sm-6 col-xs-8">
				{{ form.comments }} 
                                <i class="fa fa-comments textarea-icon s16"></i>
                            </div>
                            <label class="col-lg-1 col-md-2 col-sm-2 col-xs-2 control-label">Show</label>
                            <div class="col-lg-1 col-md-2 col-sm-2 col-xs-2">
				{{ form.show_comments }} 
                            </div>
                        </div>
			<div class="form-group">
                	    <div class="col-lg-offset-2 col-lg-10 col-md-offset-3 col-md-9">
                                <button type="submit" class="btn btn-default">Save</button><button type="submit" class="btn btn-default">Cancel</button>

                            </div>
                        </div>
		    </form>
                </div>
                <!-- End .bwizard -->
            </div>
        </div>
        <!-- End .panel -->
    </div>
    <!-- col-lg-12 end here -->
</div>
<!-- END ROW -->
<!-- END LBM job booking form -->
{% endblock %}


