{% load staticfiles %}
<!doctype html>
<!--[if lt IE 8]><html class="no-js lt-ie8"> <![endif]-->
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>Coural Job System | LBM Jobs Current</title>
	{% include "inc_html_header.html" %}
    </head>
    <body>
        <!--[if lt IE 9]>
          <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <!-- .page-navbar -->
	{% include "inc_head.html" %}
        <!-- / page-navbar -->
        <!-- #wrapper -->
        <div id="wrapper">
            <!-- .page-sidebar -->
            
            {% include 'inc_nav.html' %}
            
            <!-- / page-sidebar -->
            <!-- Start #right-sidebar -->
            {% include 'inc_right_sidebar.html'%}
            <!-- End #right-sidebar -->
            <!-- .page-content -->
            <div class="page-content sidebar-page right-sidebar-page clearfix">
                <!-- .page-content-wrapper -->
                <div class="page-content-wrapper">
                    <div class="page-content-inner">
                        <!-- .page-content-inner -->
                        <div id="page-header" class="clearfix">
                            <!-- Start .row -->
                            <div class="row">
                                <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12">
                                    <div class="page-header">
                                        <h1>LBM Jobs</h1>
					{% block info %}
					{% endblock %}
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                    <div class="panel panel-info tile panelClose panelRefresh">
					{% block jobinfo %}
					{% endblock %}
                                        <!-- Start .panel -->
                                    </div>
                                    <!-- End .panel -->
                                </div>
                            </div>
                            <a href="#" class="header-close"><i class="fa fa-chevron-up"></i></a>
                            
                        </div>

                        <!-- Data tables -->
                        <!-- Start .row -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="bs-callout bs-callout-info fade in">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    <h4>We found <strong>38 jobs</strong></h4>
                                    <p>Hello! You searched for a client called '<strong>Fagan motors</strong>' and jobs between '<strong>5th March</strong>' and '<strong>12th May</strong>'.
                                    <br/>We found <strong>38 jobs</strong> that match these criteria.</p>
                                </div>
                            </div>
                        </div>

                        <!-- Start .row -->
                        <div class="row"> 
                            <!-- Coural  "Current Jobs" -->
                            <!-- col-lg-12 start here -->
                            <div class="col-lg-12">

                                <!-- Coural form 'current jobs' -->
                                <div class="panel panel-default toggle panelMove panelClose panelRefresh">
                                    <!-- Start .panel -->
                                    <div class="panel-heading">
                                        <h4 class="panel-title">Search for jobs</h4>
                                    </div>
                                    <div class="panel-body pt0 pb0">
                                        <form class="form-horizontal group-border stripped">
                                            <div class="form-group">
                                                <label class="col-lg-2 col-md-3 control-label" for="">Job detail</label>
                                                <div class="col-lg-10 col-md-9">
                                                    <div class="row">
                                                        <!-- Start .row -->
                                                        <div class="col-md-4">
                                                            <select class="form-control select2">
                                                                <option value=""></option>
                                                                <option value="alinegroup">A Line Group</option>
                                                                <option value="Abron">Abron</option>
                                                                <option value="Fagan">Fagan Motors</option>
                                                                <option value="FF">Fairfax - NZF</option>
                                                                <option value="FFW">Fairfax W/Leader</option>
                                                                <option value="FFWLG">Fairfax Wellington</option>
                                                                <option value="FedF">Federated Farmers</option>
                                                                <option value="GEO">GEO Hutchinson</option>
                                                                <option value="CA">California</option>
                                                                <option value="NV">Nevada</option>
                                                                <option value="OR">Oregon</option>
                                                                <option value="WA">Washington</option>
                                                                <option value="AZ">Arizona</option>
                                                                <option value="CO">Colorado</option>
                                                                <option value="ID">Idaho</option>
                                                                <option value="NE">Nebraska</option>
                                                                <option value="NM">New Mexico</option>
                                                                <option value="ND">North Dakota</option>
                                                                <option value="UT">Utah</option>
                                                                <option value="WY">Wyoming</option>
                                                                <option value="AL">Alabama</option>
                                                                <option value="AR">Arkansas</option>
                                                                <option value="IL">Illinois</option>
                                                                <option value="IA">Iowa</option>
                                                                <option value="KY">Kentucky</option>
                                                                <option value="LA">Louisiana</option>
                                                                <option value="MN">Minnesota</option>
                                                                <option value="MS">Mississippi</option>
                                                                <option value="MO">Missouri</option>
                                                                <option value="OK">Oklahoma</option>
                                                                <option value="SD">South Dakota</option>
                                                                <option value="TX">Texas</option>
                                                                <option value="TN">Tennessee</option>
                                                                <option value="WI">Wisconsin</option>
                                                                <option value="CT">Connecticut</option>
                                                                <option value="DE">Delaware</option>
                                                                <option value="FL">Florida</option>
                                                                <option value="GA">Georgia</option>
                                                                <option value="IN">Indiana</option>
                                                                <option value="ME">Maine</option>
                                                                <option value="MD">Maryland</option>
                                                                <option value="MA">Massachusetts</option>
                                                                <option value="MI">Michigan</option>
                                                                <option value="NH">New Hampshire</option>
                                                                <option value="NJ">New Jersey</option>
                                                                <option value="NY">New York</option>
                                                                <option value="NC">North Carolina</option>
                                                                <option value="OH">Ohio</option>
                                                                <option value="PA">Pennsylvania</option>
                                                                <option value="RI">Rhode Island</option>
                                                                <option value="SC">South Carolina</option>
                                                                <option value="VT">Vermont</option>
                                                                <option value="VA">Virginia</option>
                                                                <option value="WV">West Virginia</option>
                                                            </select>
                                                            <span class="help-block">Client</span>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <select class="form-control select2">
                                                                <option value=""></option>
                                                                <option value="acuppa">A cuppa withus</option>
                                                                <option value="Abron">Abron</option>
                                                                <option value="Fagan">Fagan Motors</option>
                                                                <option value="FF">Fairfax - NZF</option>
                                                                <option value="FFW">Fairfax W/Leader</option>
                                                                <option value="FFWLG">Fairfax Wellington</option>
                                                                <option value="FedF">Federated Farmers</option>
                                                                <option value="GEO">GEO Hutchinson</option>
                                                            </select>
                                                            <span class="help-block">Publication</span>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <select class="form-control select2">
                                                                <option value=""></option>
                                                                <option value="alinegroup">11990</option>
                                                                <option value="">11991</option>
                                                                <option value="">11993</option>
                                                                <option value="">11994</option>
                                                                <option value="">11999</option>
                                                                <option value="">12021</option>
                                                                <option value="">12100</option>
                                                                <option value="">12555</option>
                                                                <option value="">12710</option>
                                                                <option value="">12713</option>
                                                            </select>
                                                            <span class="help-block">Job #</span>
                                                        </div>
                                                    </div>
                                                    <!-- End .row -->
                                                </div>
                                            </div>
                                            <!-- End .form-group  -->
                                            <div class="form-group">
                                                <label class="col-lg-2 col-md-3 control-label" for="">Date range</label>
                                                <div class="col-lg-10 col-md-9">
                                                    <div class="input-daterange input-group">
                                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                        <input type="text" class="form-control" name="start" />
                                                        <span class="input-group-addon">to</span>
                                                        <input type="text" class="form-control" name="end" />
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End .form-group  -->
                                            
                                            <div class="form-group">
                                                <div class="col-lg-offset-2 col-lg-10 col-md-offset-3 col-md-9">
                                                    <button type="submit" class="btn btn-default">Search</button>
                                                </div>
                                            </div>
                                            <!-- End .form-group  -->
                                        </form>
                                    </div>
                                </div>
                                <!-- End .panel -->

                                <!-- Coural data "Current Jobs" -->
                                <div class="panel panel-default plain toggle panelMove panelClose panelRefresh">
                                    <!-- Start .panel -->
                                    <div class="panel-heading">
                                        <h4 class="panel-title">Jobs (5th March 2016 to today)</h4>
                                    </div>
                                    <div class="panel-body">
					{% block data %}
					{% endblock %}
                                    </div>
                                </div>
                                <!-- End .panel -->
                            </div>

                        </div>
                        <!-- End .row -->
                        <!-- END Data tables -->

                    </div>
                    <!-- / .page-content-inner -->
                </div>
                <!-- / page-content-wrapper -->
            </div>
            <!-- / page-content -->
        </div>
        <!-- / #wrapper -->
        <!-- Start #footer  -->
        {% include 'inc_footer.html' %}
        <!-- End #footer  -->

        {% include 'inc_scripts.html' %}

    </body>
</html>
