{% load staticfiles %}
<!doctype html>
<!--[if lt IE 8]><html class="no-js lt-ie8"> <![endif]-->
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>Coural Job System | LBM Jobs Current</title>
        {% include "inc_html_header.html" %}
        
        {% block homeslidercss %}
        {% endblock %}

    </head>
    <body>
        <!--[if lt IE 9]>
          <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <!-- .page-navbar -->
	   {% include "inc_head.html" %}
        <!-- / page-navbar -->
        <!-- #wrapper -->
        <div id="wrapper">
            <!-- .page-sidebar -->
            
            {% include 'inc_nav.html' %}
            
            <!-- / page-sidebar -->
            <!-- Start #right-sidebar -->
            {% include 'inc_right_sidebar.html'%}
            <!-- End #right-sidebar -->
            <!-- .page-content -->
            <div class="page-content sidebar-page right-sidebar-page clearfix">
                <!-- .page-content-wrapper -->
                <div class="page-content-wrapper">
                    <div class="page-content-inner">


                    {% block homeslider %}
                    {% endblock %}  

                        <!-- .page-content-inner -->
                        <div id="page-header" class="clearfix collapsed">
                            <!-- Start .row -->
                            <div class="row">
                                <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12">
                                    <div class="page-header">
					{% block info %}
					{% endblock %}
                                    </div>
                                </div>
					{% block jobinfo %}
					{% endblock %}
                            </div>
                            <a href="#" class="header-close"><i class="fa fa-chevron-up"></i></a>
                            
                        </div>

                    {% block searchresults %}
                    {% endblock %}

                        <!-- Start .row -->
                        <div class="row"> 
                            <!-- Coural  "Main Data" -->
                            <!-- col-lg-12 start here -->
                            <div class="col-lg-12">

                    {% block searchform %}
                    {% endblock %}           


					{% block data %}
					{% endblock %}


                            </div>

                        </div>
                        <!-- End .row -->
                        <!-- END Data tables -->

                    </div>
                    <!-- / .page-content-inner -->
                </div>
                <!-- / page-content-wrapper -->
            </div>
            <!-- / page-content -->
        </div>
        <!-- / #wrapper -->
        <!-- Start #footer  -->
        {% include 'inc_footer.html' %}
        <!-- End #footer  -->

        {% include 'inc_scripts.html' %}

    </body>
</html>
