{% extends "page_base.html" %}
{% load render_table from django_tables2 %}

{% block data %}
<div class="panel panel-default toggle panelMove panelClose panelRefresh">
    <!-- Start .panel -->
    <div class="panel-heading">
        <h4 class="panel-title">Search for jobs</h4>
    </div>
    <div class="panel-body pt0 pb0">
        <form class="form-horizontal group-border stripped" method="post" >
            {% csrf_token %}
            {{form.island}} 
	    <button type="button" id="btn_get_regions">>></button>	
	    {{form.region}} 
	    <button type="button" id="btn_get_areas">>></button>
            {{form.area}} 
	    <button type="button" id="btn_get_rds">>></button>
            {{form.rd}} 
            {{form.version}}
	    {{form.inc_zero}} 
            <button type="submit" class="btn btn-default">Add</button> 
        </form>
    </div>
</div>        <!-- End .form-group  -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
$("#btn_get_regions").click(function(){
	$('#id_region').empty().append($('<option>', { value: "ALL", text: "ALL"}))

	$.getJSON( "/test/Region/" + $( "#id_island" ).val() + "/", function( data ) {
	  $.each( data, function( key, val ) {
		  $('#id_region').append($('<option>',{ value:key, text: val}));
	  });
	 
	});
});


$("#btn_get_areas").click(function(){
        var foo = []; 
        $('#id_region :selected').each(function(i, selected){ 
                foo[i] = $(selected).text(); 
        });

	$('#id_area').empty().append($('<option>', { value: "ALL", text: "ALL"}))

        $.getJSON( "/test/Area/" + foo.toString()  + "/", function( data ) {
          $.each( data, function( key, val ) {
                  $('#id_area').append($('<option>',{ value:key, text: val}));
          });
         
        });
});

$("#btn_get_rds").click(function(){
	var foo = []; 
        $('#id_area :selected').each(function(i, selected){ 
                foo[i] = $(selected).text(); 
        });

	$('#id_rd').empty().append($('<option>', { value: "ALL", text: "ALL"}))

        $.getJSON( "/test/Route/" + foo.toString() + "/", function( data ) {
          $.each( data, function( key, val ) {
                  $('#id_rd').append($('<option>',{ value:key, text: val}));
          });
         
        });
});

</script>


<!-- Coural data "Current Jobs" -->
<!-- Start .panel -->
<div class="panel panel-default plain toggle panelMove panelClose panelRefresh">
    <div class="panel-heading">
        <h4 class="panel-title">Jobs (5th March 2016 to today)</h4>
    </div>
    <div class="panel-body">
        {% render_table table %}
    </div>
</div>
<!-- End .panel -->
{% endblock %}
