{% extends "page_base.html" %}

{% block info %}
<h1>LBM Job Details</h1>
<p class="intro">
    View all sagittis a et fermentum suspendisse nisl sem
    arcu vivamus hac consectetur id a hendrerit cum euismod quisque ipsum parturient
    penatibus diam proin parturient a parturient.
</p>
{% endblock %}

{% block data %}
<!-- Start .panel -->
<div class="panel panel-default plain toggle panelMove panelClose panelRefresh">
    <div class="panel-heading">
        <h4 class="panel-title">LBM Job Details (March 2016)</h4>
    </div>
    <div class="panel-body">
      <iframe 
        src="https://jobs.coural.co.nz/job_test/rep_revenue_rump.php?month=3&year=2016&report=month_job"
        width="100%"
        height="500px"
        style="border: 1px solid #e3e3e3;"
      ></iframe>
    </div>
</div>
<!-- End .panel -->
{% endblock %}

